@font-face {
    font-family:riot1 ;
    src: url(./FONTS/FontFont_FF.Mark.Pro.Medium.otf);
}
@font-face {
    font-family:riot2 ;
    src: url(./FONTS/FontFont_FF.Mark.Pro.Bold.otf);
}

@font-face {
    font-family:riot3 ;
    src: url(./FONTS/FontFont_FF.Mark.Pro.Heavy.otf);
}

body{
    width: 100%;
    height: 100%;
    margin: 0 auto;
    background-image: url("./IMG/arcane_dsktp_centerAlignedCrd_BG_2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family:riot3;
    background-position: 0px;
}

h3{
    color: var(--dark);
    text-align: center;
    font-size: 2.1rem;
}


body, button, select, textarea{
    font-family: riot3;
}

*{
    box-sizing: border-box;
}

html, body{
    margin: 0;
}

:root{
    --white-gray: #f9f9f9;
    --dark: #111;
    --blue-facebook: #1877f2;
    --red-checked: #d13639;
    --dark-light: rgb(44, 44, 44);

}

.container {
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 100px auto 100px;
    grid-template-areas:
        "logo menu menu"
        "sidemenu login advertise"
        "footer footer footer";
}

.logo {
    grid-area: logo;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.login{
    grid-area: login;
    height: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer{
    grid-area: footer;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}


.login-container{
    width: 600px;
    height: 800px;
    background: var(--white-gray);
    display: grid;
    justify-content:center;
    grid-template-columns: auto;
    grid-template-rows: 200px 250px 70px 50px 140px 90px;
    grid-template-areas:
        "sessao"
        "log"
        "rede-social"
        "manter"
        "entrar"
        "recovery"
}

.texto{
    grid-area: sessao;
    align-items: flex-end;
    justify-content: center;
    display: flex;

}

.form-log{
    grid-area: log;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form-log input::placeholder{
    color: rgb(82, 82, 82);
    font-size: 12px;
}

form input{
    width: 100%;
    height: 75px;
    border: 2px transparent;
    border-radius: 3px;
    background-color: rgb(236, 236, 236);
    font-family: riot2;
    color:rgb(44, 44, 44);
    letter-spacing: 0.08em;
    padding: 0 25px 0 1.2em;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0;
} 

.social{
    grid-area: rede-social;
    align-items: flex-start;
    justify-content: space-between;
    display: flex;
}

.social svg{
    color: #f9f9f9;
    margin: 10px;

}

.social .facebook{
    background: var(--blue-facebook);
    width: 140px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);
    height: 50px;
    position:relative;
}
.social .facebook a{
    position: absolute;
    left: 48px;
    margin: 10px;
}

.social .google{
    background: #fff;
    width: 140px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);  
    height: 50px;
    position:relative;  
}

.social .google a{
    position: absolute;
    left: 48px;
    margin: 10px;
    height: 50px;
}

.social .apple{
    background: #000;
    width: 140px;
    border-radius: 4px;
    border: 2px solid rgba(0,0,0,0.05);
    height: 50px;
    position:relative;
}

.social .apple a{
    position: absolute;
    left: 48px;
    margin: 10px;
}

.manter-login{
    grid-area: manter;
}

.checkmark{
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 5px;
}

.checkbox-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 21px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    color: rgb(44, 44, 44);
    font-family: riot1;
  }

.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

.checkbox-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.checkbox-container input:checked ~ .checkmark {
    background-color: var(--red-checked);
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }

.checkbox-container input:checked ~ .checkmark:after {
    display: block;
  }

.checkbox-container .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

.checkbox-container span{
    color: #111;
}

.entrar-log{
    grid-area: entrar;
    align-items: flex-start;
    justify-content: center;
    display: flex;
}


button{

    border-style: solid;
    border-color: rgb(236, 236, 236);
    color: rgb(236, 236, 236);
    background: transparent;
    border-radius: 23px;
    font-weight: bold;
    padding: 27px 8px;
    margin: 10px 40%;
    cursor: pointer;
    width: 450px;
    height: 95px;
    
}

button img{
    filter: opacity(0.25) drop-shadow(0 0 0 rgb(139, 139, 139)); 
    }

.criar-conta{
    grid-area: recovery;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    position: relative;
}

.criar-conta a{
    text-decoration: none;
    text-align: center;
    font-family: riot3;
    color: #667;
}

.criar{
    position: absolute;
    bottom: 40px;
}

.footer ul{
padding: 0 10px;
color: var(--white-gray);
font-size: 14px;
position: relative;
left: 40px;
}

.footer ul li{
    list-style: none;
}

.footer a{
    text-decoration: none;
    color: var(--white-gray);
    padding: 10px;
    opacity: 85%;
}

.footer h4{
    padding: 0 10px;
    color: var(--white-gray);
    font-size: 8px;
    position: absolute;
    bottom: -200px;
    left: 50px;
    opacity: 85%;
}

ul#menufinal li{
    display: inline;
}




